@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
   
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__title {
        font-size: 70px;
    }
    .airpods__divided, .airpods__sensor, .airpods__airpodspro {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__title {
        font-size: 50px;
    }
    .iphones__wrapper {
        justify-content: center;
    }
    .divided__desc {
        font-size: 15px;
    }
    .airpodspro__desc, .airpodspro__desc,.sensor__desc, .sensor__desc_text-align {
        font-size: 15px;
    }

    
}
@media (max-width: 520px) {
    .nav__content {
        flex-direction: column;
    }
    .menu__link, .search {
        margin: 10px 15px;
        display: block;
        
    }
    .search {
        display: flex;
        gap: 15px;
    }
    .header__link {
        font-size: 16px;
    }
    .header__title {
        font-size: 40px;
    }
    .footer__content {
        flex-direction: column;
    }

    .footer__menu {
        flex-direction: column;
        justify-content: center;
    }
    .footer__link {
        margin: 10px 15px;
        display: inline-block;
        font-size: 15px;
       
    }
    .footer__svg {
        flex-direction: column;

    }
    .footer__svgimg {
        width: 50px;
        min-height: 30px;
    }
    .iphones__wrapper {
        justify-content: center;
        display: flex;
    }
    .iphones__card {
        max-width: 180px;
       
    }
    .iphones__img {
        width: 100%;
    }
}
